.vscode
.clang-format
built_modules
build
*.ko
*.o
*.so
*.a

mymodloader
*.txt
program
test_blob
*.elf
*.elf1
vmcore
tls_example
vmlinux
*.files
*.old
*.data
attr_example

main
main_static
main.preproc.c

tests/crashes
gdb_scripts

i_load_mod
i_load_mod_static